link(href='/css/header.css', rel="stylesheet")
.container
	.row
		.page-header.clearfix
			h1= title
			.col-md-4
				small Movies
			.col-md-8
				form(method='get', action='/results')
					.input-group.col-sm-4.pull-right
						input.form-control(type='text', name='q')
						span.input-group-btn
							button.btn.btn-default(type="submit") search
.navbar.navbar-default.navbar-fixed-top
	.container
		.row
			.navbar-header.col-xs-12.col-sm-12.col-md-12.col-lg-12
				a.navbar-brand(href="/") 
					i.fa.fa-film(aria-hidden="true")
					span  Movies
				if user
					p.navbar-text.pull-right
						a.navbar-link.header-link(href="#", data-toggle='modal', data-target='#managementModal')
							span.fa.fa-tachometer(aria-hidden="true")
							span.hidden-xs  #{user.name}'s Dashboard
						span &nbsp;|&nbsp;
						a.navbar-link.header-link(href="/logout")
							span.fa.fa-sign-out(aria-hidden="true")
							span  Logout
				else
					p.navbar-text.pull-right
						a.navbar-link.header-link(href="#", data-toggle="modal", data-target="#signupModal")
							span.fa.fa-user-circle-o(aria-hidden="true")
							span  SignUp
						span &nbsp;|&nbsp;
						a.navbar-link.header-link(href="#", data-toggle="modal", data-target="#signinModal")
							span.fa.fa-sign-in(aria-hidden="true")
							span  Login
#signupModal.modal.fade
	.modal-dialog
		.modal-content
			form(method="post" action="/user/signup")
				.modal-header Sign up
				.modal-body
					.form-group
						label(for="signupName") User name
						input#signupName.form-control(name="user[name]", type="text")
					.form-group
						label(for="signupPassword") Password
						input#signupPassword.form-control(name="user[password]", type="password")
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal") Cancel
					button.btn.btn-success(type="submit") Submit
#signinModal.modal.fade
	.modal-dialog
		.modal-content
			form(method="post" action="/user/signin")
				.modal-header Sign in
				.modal-body
					.form-group
						label(for="signinName") User name
						input#signinName.form-control(name="user[name]", type="text")
					.form-group
						label(for="signinPassword") Password
						input#signinPassword.form-control(name="user[password]", type="password")
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal") Cancel
					button.btn.btn-success(type="submit") Submit		
#managementModal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				i.fa.fa-tachometer(aria-hidden="true")
				span  Dashboard
			.modal-body.header-list
				div.list-unit
					i.fa.fa-file-video-o(aria-hidden="true")
						span  Movie
					ul
						li
							a.header-link(href="/admin/movie/list")
								span Movie list
						li
							a.header-link(href="/admin/movie/new")
								span Add movie
				div.list-unit
					i.fa.fa-users(aria-hidden="true")
						span  User
					ul
						li
							a.header-link(href="/admin/user/list")
								span User list
				div.list-unit
					i.fa.fa-list-ul(aria-hidden="true")
						span  Category
					ul
						li
							a.header-link(href="/admin/category/list")
								span Category list
						li
							a.header-link(href="/admin/category/new")
								span Add category
			.modal-footer
				button.btn.btn-primary(type="button", data-dismiss="modal") OK