extends ../layout

block content
	.container
		.row
			.col-md-5
				if msg
					div.alert(class='alert-#{type}')
						strong Notice:  
						span #{msg}
				form(method="post" action="/user/signin")
					.modal-body
						.form-group
							label(for="signinName") User name
							input#signinName.form-control(name="user[name]", type="text")
						.form-group
							label(for="signinPassword") Password
							input#signinPassword.form-control(name="user[password]", type="text")
					.modal-footer
						button.btn.btn-success(type="submit") Submit