extends ../layout

block content
	.container
		.row
			.col-md-5
				form(method="post" action="/user/signup")
					.modal-body
						.form-group
							label(for="signupName") User name
							input#signupName.form-control(name="user[name]", type="text")
						.form-group
							label(for="signupPassword") Password
							input#signupPassword.form-control(name="user[password]", type="password")
					.modal-footer
						button.btn.btn-success(type="submit") Submit